html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
  }
body {
    
    background: hsl(56, 80%, 20%);
    
}
  

.container {
    background: transparent;
    max-width: 500px;
    width: 50%;
    height: 200px;
    margin: 30px auto;
    border-radius: 10px;
}

.add_container {
	width: 100%;
    margin: 0px auto;
    padding: 10px;
    border-radius: 5px;
}


  .add_container button:hover {
    box-shadow: 0 2px 2px 0 #ccc, 0 2px 3px 0 #ccc;
    opacity: 0.7;
  }


  .show-todo-section {
    width: 100%;
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
  }
  
  .todo-item {
    width: 95%;
    margin: 10px auto;
    padding: 20px 10px;
    box-shadow: 0 4px 8px 0 #ccc, 0 6px 20px 0 #ccc;
    border-radius: 5px;
    background-color: blanchedalmond;
  }
  

 

  .header-title {
   display: flex;
   justify-content: center;
   color: azure;
   text-shadow: blanchedalmond;
   font-family: Georgia, serif;
   font-size: 25px;
   letter-spacing: 2px;
   word-spacing: 2px;
   font-weight: bold;

  }




.title {

  font-family: sans-serif;
  color: rgb(62, 110, 7);
  text-decoration:aquamarine;
 

  
}

.task {

  font-family: sans-serif;
  font-style: italic;
  padding: 20px;

}


input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through;
}

button {
  background: none;
  color: #ffa260;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;

 
}